
html {
        background-color: transparent !important;
    }

body {
    font-family: 'Mukta', sans-serif;
    background-image: url(/images/about.jpg);
    background-color: rgba(47, 79, 79, 0.5);
    font-size: 2em;
    color: darkslategray;
    margin: 0;
    padding: 0;
    }
    
    ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill 150px, 1fr);
    gap: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    }

    li {
        background-color: #ffbb67;
        text-align: center;
        padding: 2rem;
        /*border: solid .5rem darkslategray;*/
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: white;
        border-bottom: solid .06rem white;
    }

    .block2, .block6 {
        background-color: #ff9e29;
    }

    .block5 {
        background-color: #ffed47;
     }