body {
    font-family: 'Mukta', sans-serif;
    font-size: 2em;
    color: darkslategray;
    margin: 0;
    padding: 0;
    }
    
    ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    }

    li {
        background-color: blanchedalmond;
        text-align: center;
        padding: 2rem;
    }

    a {
        text-decoration: none;
        color: darkslategray;
    }

    a:hover {
        color: darkorange;
        border-bottom: solid .06rem darkorange;
      }

    .block1 {
        grid-row: 2;
        grid-column: 1;
    }

    .block2 {
        grid-row: 3;
        grid-column: 2;
    }

    .block3 {
        grid-row: 3;
        grid-column: 3;
    }

    .block4 {
        grid-row: 4;
        grid-column: 2;
    }

    .block5 {
        grid-row: 5;
        grid-column: 2;
   
    }

    .block6 {
        grid-row: 5;
        grid-column: 4;
        border: solid .5rem darkslategray;
    }