/*
Product Landing CSS
Author: Cassie Lewis
clewis.dev
Date: September 2021
*/

/*COLOR PALETTE
--russet: #75381aff;
--raw-umber: #765f41ff;
--hunter-green: #526444ff;
--asparagus: #8ca479ff;
--morning-blue: #819595ff;
--silver-sand: #b1bebeff;
--ash-gray: #b1b6a6ff;
--platinum: #e2e3ddff;
--peach: #FDE1AF;
/*


/*------ GLOBAL STYLES ------*/

body {
  font-family: 'Raleway', sans-serif;
  color: #75381aff;
  background: #FDE1AF;
  text-align: center;
  margin: 0;
  padding: 0;
  
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.25em;
}

a {
  font-size: 1.25em;
  color: #FDE1AF;
  text-decoration: none;
}

a:visited {
  color: blanchedalmond;
}

a:hover {  
  color: blanchedalmond;
  border-bottom: .0625rem solid blanchedalmond;
}

/*------ NAV BAR STYLE ------*/

header {
  background:rgb(77, 100, 58);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: solid .1875rem #765f41ff;
}

.header-img {
  display: flex;
}

ol {
  list-style-type: none;
  display: flex;
}

.nav-link {
  color: white;
  font-size: 1.25em;
  font-weight: 800;
  display: flex;
  margin-right: 3rem;
}


/*------ QUOTE STYLE ------*/

.quote {
  background: #765f41ff;
  color: #FDE1AF;
  margin: 0 15% 0 15%;
  padding: 2rem;
}

/*------ OAK FACTS STYLE ------*/

.oak-facts {
  background: white;
  margin: 0 15% 0 15%;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.facts-p {
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.facts-img {
  margin-top: 2rem;
}

.white-oak {
  box-shadow: .625rem .625rem 1rem .3rem lightgray;
}

/*------ VIDEO STYLE ------*/

iframe {
  max-width: 100%;
  max-height: 100%;
}

.video {
  background: rgb(77, 100, 58);
  padding: 2rem;
  margin-left: 15%;
  margin-right: 15%;
}


/*------ OAK TYPE STYLE ------*/

.pricing {
  display: flex;
}

.oaks {
  width: calc(100% / 3);
  background: #765f41ff;
  color: #FDE1AF;
  padding: 2rem 5rem 2rem 5rem;
  border: solid .625rem;
}


/*------ FORM STYLE ------*/

form {
  background: #FDE1AF;
  padding: 1rem;
  padding-bottom: 2rem;
}

/*------- INPUT SUBMIT STYLE ------*/

.email {
width: 30%;
padding: .5rem;
font-family: 'Montserrat', sans-serif;
border-radius: .5rem;
margin-left: .5rem;
}

[type='submit'] {
background: rgb(77, 100, 58);
color: #FDE1AF;
font-weight: 800;
width: 15%;
margin: .5rem;
padding: 1rem;
font-family: 'Montserrat', sans-serif;
border: none;
} 

.button {
  background: rgb(77, 100, 58);
  color: #FDE1AF;
  font-size: 1.25em;
  font-weight: 800;
  width: 40%;
  margin: .5rem;
  padding: .5rem;
  font-family: 'Montserrat', sans-serif;
  border: solid .125rem #FDE1AF;
}

/*------ FOOTER STYLE ------*/

footer {
  background: rgb(77, 100, 58);
  color: #FDE1AF; 
  line-height: 3rem;
  font-weight: 800;
  margin-bottom: 0;
  padding: 2rem 15% 1rem 15%;
}

.list-text {
  font-size: 1.5em;
  padding-right: 3rem;
  margin-left: -3rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
  
  
  




    

