/*
Tribute Website CSS
Author: Cassie Lewis
clewis.dev
Date: September 2021
*/

/* CSS HEX 
--midnight-green-eagle-green: #1a5760ff;
--middle-blue-green: #90e0daff;
--mint-cream: #f7fff7ff;
--rosy-brown: #bb938bff;
--ivory: #fffcebff;*/


/*------ GLOBAL STYLES--------------*/

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(rgba(255, 255, 255), rgba(253, 224, 176, 0.3));
    background-color: #FFFCEB;
    margin: 0;
    padding: 0;
} 

html {
    background-color: transparent !important;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #1A5760;
    margin-top: 1rem;
    
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}


p {
    font-size: 1.25em;
    text-align: center;
    color: #1A5760;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: .625rem;
    line-height: 2.5rem;
}


a {
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    width: 60%;
    color: #81544B;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    opacity: .5;
}

/*------ IMAGE STYLE--------------*/

.painting {
    box-shadow: .25rem .25rem .375rem .125rem lightgray;
}

a {
    display: flex;
    justify-content: center;
}

figcaption {
    text-align: center;
    color: #1A5760;
    /*font-size: 1rem;*/
}
       

/*------ INFO STYLE--------------*/

.subtitle {
    text-align: center;
    color: #81544B;
    /*font-size: 1.5rem;*/
    margin-top: .375rem;
    margin-bottom: 1rem;
}

.tribute-info {
    text-align: center;
}

.info-title {
    text-align: center;
    color: #81544B;
    /*font-size: 1.25rem;*/
    margin-top: 2rem;
}

.info-subtitle-1 {
    color:  #81544B;
    margin-bottom: 0;
    padding: 0;
   
}

.info-subtitle-2 {
    color:  #81544B;
    margin-top: 0;
    padding: 0;
}


/*------ LINK STYLE--------------*/

a:visited {
    color: #AC7B72;
}

.infolink {
    color: #81544B;
    margin: 1.5rem 1.5rem;
   
}