
/*------GLOBAL STYLES------*/

body {
  font-family: 'Mukta', sans-serif;
  color: #1A5760;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

p {
  font-size: 1.25rem;
}

a {
  color: #1A5760;
  text-decoration: none;
}

a:hover {
  color: #E56B24;
  border-bottom: solid 1px #E56B24;
}


h1 {
  background-color: darkgray;
  color:  #E56B24;
  font-weight: bold;
  border-radius: 50%;
  width: 150px;
  /*border: solid 3px #647953;*/
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  padding: 20px 5px 60px 5px;
  letter-spacing: 7px;
  box-shadow: 5px 5px rgb(77, 100, 58);  
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: -70px;
  margin-bottom: 60px;
  letter-spacing: 3px;
}


img {
  border: solid 1px lightgray;
}

li {
  letter-spacing: 2px;
}

hr {
  color: #1A5760;
  margin-top: 30px;
  width: 200px;
}


/*------ NAVBAR STYLE ------*/

.navbar {
  background-color: rgb(11, 36, 41);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    /*border-right: solid;*/
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 6px 2px lightgray;
        
}

.copyright {
  font-size: .75rem;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  text-align: center;
  padding-bottom: 30px;
}

.outline {
  font-size: 1.25rem;
}

/*------ PROJECTS ------*/

.projects-list {
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 300px;
}

.projects {
  background-color: gray;
  text-align: center;
  margin: 25px 25px;
  padding: 25px;
  box-shadow: 4px 4px 6px 2px lightgray;
}

.projects:hover {
    background-color: #0b2429;
}

/*------MEDIA QUERIES------DARK MODE STYLING------

@media (prefers-color-scheme: dark) {
  .dark-header { background: #11373d; color: white;
}

@media (prefers-color-scheme: dark) {
  h1 {background-color: darkgray; color: #E56B24; box-shadow: 5px 5px #1A5760;}
}

@media (prefers-color-scheme: dark) {
  .projects-list {background: darkgray;}
}

@media (prefers-color-scheme: dark) {
  .projects {background-color: gray;}
}

@media (prefers-color-scheme: dark) {
  .projects:hover {background-color: #11373d}
}
*/

