/*------GLOBAL STYLES------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: .5fr 2fr 2fr 1fr;
  text-transform: uppercase;
}

img {
  display: inline-block;
  background-color: white;
  border: solid .06rem darkgray;
  padding: 2rem;
  box-shadow: -.5rem .5rem .375rem .125rem darkgray;
  width: 100%;
  height: auto;
}

img:hover {
  background-color: rgb(255, 242, 224);
}

p {
  width: 100%;
  margin: 0;
  padding: .5rem;
  background-color: lightgray;
  color: darkslategray;
  font-size: 1.5em;
  font-weight: 800;
  border: solid .08rem darkslategray;
  box-shadow: -.5rem .5rem .375rem .125rem darkgray;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
  color: darkorange;
  border-bottom: solid .06rem darkorange;
}


/*------C.LEWIS------*/

h1 {
  color: darkorange;
  font-size: 5em;
  font-weight: 800;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  align-self: center;
}

/*------WEB DEVELOPER------*/

h2 {
  color: darkorange;
  font-size: 5em;
  font-weight: 800;
  writing-mode: vertical-lr;
  grid-row: 1/7;
  grid-column: 1;
  justify-self: start;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
  z-index: 2;
}

/*------NAVBAR------*/

nav {
  font-size: 1.5em;
  font-weight: 800;
  border-bottom: solid 1rem darkorange;
  margin-right: 5rem;
  margin-top: 1rem;
  grid-row: 1;
  grid-column: 3 / span 2;
  align-self: center;
  z-index: 1;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

/*------WELCOME SECTION------*/

ol {
  display: block;
  height: 100vh;
  background-color: rgb(255, 187, 103);
  list-style-type: none;
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 800;
  color: darkslategray;
  grid-row: 2;
  grid-column: 4;
  margin: 2rem 2rem 0 2rem;
  padding: 2rem;
  z-index: 1;
  /*padding-top: 0px;
  margin-top: 0px;*/
 }

.info {
  margin-bottom: 3rem;
}

.info2 {
  font-size: .75em;
  margin-top: 5rem;
}

.info-title {
  font-size: 1.5em;
  color: darkslategray;
  margin-bottom: 3rem;
}

/*------PROJECTS GRID------*/

section {
  grid-row: 2;
  grid-column: 2 / span 2;
  display: grid;

}

.tribute {
  grid-column: 1;
  transform: rotate(-15deg);
}

.survey {
  grid-column: 2;
  transform: rotate(-15deg);
}

.techdoc {
  grid-column: 1;
  transform: rotate(-15deg);
}

.product {
  grid-column: 2;
  transform: rotate(-15deg);
}






