
/*------GLOBAL STYLES------*/

body {
  font-family: 'Mukta', sans-serif;
  color: #1A5760;
  margin: 0;
  padding: 0;
}

h1 {
  color:  #647953;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  padding: 1.25rem .3rem 3.75rem .3rem;
  letter-spacing: .4rem;
  box-shadow: .3rem .3rem #F0AA7F;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin-top: -4.5rem;
  margin-bottom: 3.75rem;
  letter-spacing: .18rem;
}


p {
  font-size: 1.25em;
}

a {
  font-size: 1.25em;
  color: #1A5760;
  text-decoration: none;
}

a:hover {
  color: #E56B24;
  border-bottom: solid .016rem #E56B24;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

img {
  border: solid .016rem lightgray;
}

li {
  letter-spacing: .125rem;
}

hr {
  color: #1A5760;
  margin-top: 1.875rem;
  width: 20%;
}


/*------ NAVBAR STYLE ------*/

.navbar {
  background-color: #FEF7EB;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: .25rem .25rem .375rem .125rem lightgray;
        
}

.copyright {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav {
  text-align: center;
  padding-bottom: 1.875rem;
}

/*------ PROJECTS ------*/

.projects-list {
  background-color: #F5F6F4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 20%;
}

.projects {
  background-color: white;
  text-align: center;
  margin: 1.5rem 1.5rem;
  padding: 1.5rem;
  box-shadow: .25rem .25rem .375rem .125rem lightgray;
}

.projects:hover {
  background-color: #FEF7EB;
} 

/*------MEDIA QUERIES------DARK MODE STYLING------

@media (prefers-color-scheme: dark) {
  .dark-header { background: #11373d; color: white;
}

@media (prefers-color-scheme: dark) {
  h1 {background-color: darkgray; color: #E56B24; box-shadow: 5px 5px #1A5760;}
}

@media (prefers-color-scheme: dark) {
  .projects-list {background: darkgray;}
}

@media (prefers-color-scheme: dark) {
  .projects {background-color: gray;}
}

@media (prefers-color-scheme: dark) {
  .projects:hover {background-color: #11373d;}
}
*/

