/*
Personal Portfolio Website CSS
Author: Cassie Lewis
clewisdev.com
Date: October 2021
*/


/*------GLOBAL STYLES------*/

:root {
  --main-bg-color: #ffffff;
  --main-text-color: #2f4f4f;
  --main-hover-color: #ff8c00; 
  --main-border-color: #a9a9a9;
  --main-accent-color: #ffbb67;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: .5fr 2fr 2fr 1fr;
  text-transform: uppercase;
}

img {
  display: inline-block;
  background-color: #ffffff;
  border: solid .06rem var(--main-border-color);
  padding: 2rem;
  box-shadow: -.5rem .5rem .375rem .125rem var(--main-border-color);
  width: 100%;
  height: auto;
}

img:hover {
  background-color: #fff2e0;
}

p {
  width: 100%;
  margin: 0;
  padding: .5rem;
  background-color: var(--main-border-color);
  font-size: 1.5em;
  font-weight: 800;
  border: solid .08rem #2f4f4f;
  box-shadow: -.5rem .5rem .375rem .125rem var(--main-border-color);
}

a {
    text-decoration: none;
}

a:visited {
  color: var(--main-text-color);
}

a:hover {
  color: var(--main-hover-color);
  border-bottom: solid .06rem var(--main-hover-color);
}


/*------C.LEWIS------*/

h1 {
  font-size: 5em;
  font-weight: 800;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  align-self: center;
}

/*------WEB DEVELOPER------*/

h2 {
  font-size: 5em;
  font-weight: 800;
  writing-mode: vertical-lr;
  grid-row: 1/7;
  grid-column: 1;
  justify-self: start;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
  z-index: 2;
}

/*------NAVBAR------*/

nav {
  font-size: 1.5em;
  font-weight: 800;
  border-bottom: solid 1rem var(--main-hover-color);
  margin-right: 5rem;
  margin-top: 1rem;
  grid-row: 1;
  grid-column: 3 / span 2;
  align-self: center;
  z-index: 2;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
}

/*------WELCOME SECTION------*/

ol {
  display: block;
  height: 100vh;
  background-color: #ffbb67;
  list-style-type: none;
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 800;
  grid-row: 2;
  grid-column: 4;
  margin: -2rem 2rem 0 2rem;
  padding: 2rem;
  z-index: 1;
  box-shadow: -.5rem .5rem .375rem .125rem var(--main-border-color);
}

.info {
  margin-bottom: 3rem;
}

.info2 {
  font-size: .75em;
  margin-top: 5rem;
}

.info-title {
  font-size: 1.5em;
  margin-bottom: 3rem;
}

/*------PROJECTS GRID------*/

section {
  grid-row: 2;
  grid-column: 2 / span 2;
  display: grid;
  margin-left: 2rem;

}

.tribute {
  grid-column: 2;
  transform: rotate(-15deg);
}

.survey {
  grid-column: 1;
  transform: rotate(-15deg);
}

.techdoc {
  grid-column: 1;
  transform: rotate(-15deg);
  margin-top: -25rem;
}

.product {
  grid-column: 2;
  transform: rotate(-15deg);
  margin-top: -25rem;
  z-index: 2;
}






