/*------GLOBAL STYLES------*/

body {
    font-family: 'Mukta', sans-serif;
    background: #F5F6F4;
    color: #1A5760;
    text-align: center;
    margin: 0;
    padding: 0;
  }


  h1 {
    color: #E56B24;
    font-size: 2em;
  } 

  h2 {
    font-size: 1.5em;
  }
  
  ul {
    list-style-type: none;
    font-size: 1.25em;
    padding-left: 0;
    margin: 0;
  }
  
  p {
    font-size: 1.25rem;
  }
  
  a {
    font-size: 1.25em;
    color: #1A5760;
    text-decoration: none;
  }
  
  a:hover {
    color: #E56B24;
    border-bottom: solid .06rem #E56B24;
  }

  
img {
    border: solid .06rem lightgray;
  }

/*------ HEADER STYLING ------*/

header {
    background-color: #FEF7EB;
    box-shadow: .25rem .25rem .375rem .125rem lightgray;
    padding: .25rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

header {
    margin-top: 0;
}

/*------ PROJECTS STYLING ------*/

.projects-list {
    background-color: #F5F6F4;
    width: 70%;
    border: solid 1px lightgray;
    margin: 0 auto;
  }
  
  .projects {
    background-color: white;
    text-align: center;
    padding: 2.25rem;
    margin-bottom: 2.25rem;
    box-shadow: .25rem .25rem .375rem .125rem lightgray;

  }
  
  .projects:hover {
    background-color: #FEF7EB;
  }