*{
  box-sizing: border-box;
}

/*------GLOBAL STYLES------*/

body {
    font-family: 'Mukta', sans-serif;
    background: #F5F6F4;
    color: #1A5760;
    margin: 0;
    padding: 0;
  }


  h1 {
    color: #E56B24;
    font-size: 2em;
    text-align: center;
  } 

  h2 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
   
  p {
    font-size: 1.25em;
    text-align: center;
  }

  ul{
    list-style-type: none;
    font-size: 1.25rem;
    padding: 0;
    text-align: center;
    margin-top: 0;
  }

  
  a {
    font-size: 1.25em;
    color: #1A5760;
    text-decoration: none;
  }
  
  a:hover {
    color: #E56B24;
    border-bottom: solid .06rem #E56B24;
  }

  
img {
    border: solid .06rem lightgray;
  }

hr {
  width: 70%;
  color: #1A5760;
  margin-top: 1rem;
  margin-bottom: 1rem;
}  

     

    
/*------ HEADER STYLING ------*/

header {
    background-color: #FEF7EB;
    box-shadow: .25rem .25rem .375rem .125rem lightgray;
    padding: .25rem;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

header {
    margin-top: 0;
}

/*------ PROJECTS STYLING ------*/
 
  .javascript-projects {
    max-width: 50%;
    margin: 0 auto;
  }

  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 4rem 4rem 4rem 4rem;
    
    
  }

  .projects {
    background-color: white;
    padding: 4rem 2rem 6rem 2rem;
    margin: 3rem;
    border: solid .06rem darkgray;
    box-shadow: -.5rem .5rem .375rem .125rem darkgray;
  }
 
  .projects:hover {
    background-color: #FEF7EB;
  }

/*------ TEXT INFO STYLING ------*/

.projects-info {
  width: 80%;
  margin: 0 auto;
}

/*------FOOTER STYLING------*/
footer {
  background-color: #FEF7EB;
  padding: 2rem;
  margin: 0 auto;
}
.footer-list {
   display: flex;
   justify-content: space-evenly;
}


  