/*
Techincal Document CSS
Author: Cassie Lewis
clewis.dev
Date: September 2021
*/

/*------ GLOBAL STYLES ------*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-left: 25%;
    margin-right: 100px;
    padding: 0;
    line-height: 2;
}

h1 {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    border-top: solid .125rem;
}

img {
    box-shadow: .25rem .25rem .375rem .125rem lightgray;
}

p {
    font-size: 1.25em;
    margin-bottom: 1rem;
}

a {
    color: darkgreen;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 800;
}

a:visited {
    color: slategray;
}

a:hover {
    color: #15424b;
    border-bottom: solid .05rem #15424b;
}


/*------ MAIN SECTION STYLE ------*/

.quote {
    color: darkgreen;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.biodiversity-link {
    font-size: .75em;
}

/*------ NAVBAR STYLE ------*/

.navbar {
    background: #e2e3ddff;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    border-right: solid;
    overflow-y: scroll;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.navbar-header {
    text-align: center;
    font-weight: bolder;
    border: none;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .25rem;
    margin-bottom: 2rem;
}

.nav-link {
    margin: .5rem 1rem 2rem 1rem; 
}

