/*
Techincal Document CSS
Author: Cassie Lewis
clewis.dev
Date: September 2021
*/

/*------ GLOBAL STYLES ------*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-left: 400px;
    margin-right: 100px;
    padding: 0;
    line-height: 2;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #E56B24;
}

h2 {
    color: #E56B24;
    font-size: 25px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 1em;
    border-top: solid 2px;
}

img {
    box-shadow: 4px 4px 6px 2px lightgray;
}

p {
    margin-bottom: 1em;
}

a {
    color: blanchedalmond;
    text-decoration: none;
    /*font-weight: 200;*/
}

a:visited {
    color: rgb(84, 210, 252);
}


/*------ MAIN SECTION STYLE ------*/

.quote {
    color: blanchedalmond;
    margin-top: 2em;
    margin-bottom: 2em;
}

.biodiversity-link {
    font-size: 12px;
}

/*------ NAVBAR STYLE ------*/

.navbar {
    background: #e2e3ddff;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: solid;
    overflow-y: scroll;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.navbar-header {
    text-align: center;
    font-weight: bolder;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .25em;
    margin-bottom: .5em;
}

.nav-link {
    margin: 1.5rem;
}

