/*
Devsite design #2
Author: Cassie Lewis
https://clewisdev.com
Date: January 2023
*/

/*
COOLORS color palette link
70s stripe
https://coolors.co
purple/pink/orange
https://coolors.co/a13879-df5a2f-e34a5f-e792bb-ecdbe5
*/

/*https://www.youtube.com/watch?v=rg7Fvvl3taU*/

/****** VARIABLES ******/

:root {

     /*COLORS*/
     --charcoal: rgb(18, 39, 73);
     --english-violet: #6b4e71ff;
     --steel-teal: #527d7cff;
     --misty-rose: #f5ddddff;
     --madder-lake: #cc2836ff;
    
     /*BORDER RADIUS*/
    --br-soft: .5rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-title: 3.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    /* min-height: 100vh; */
    font-family: 'Kanit', sans-serif;
    background-color: var(--charcoal);
    text-align: center;
    display: grid;
    place-content: center;
}

@media (min-width: 1200px) {
    body {
        display: grid;
        place-content: center;
        grid-template-columns: .25fr 1000px .25fr;
        transform: rotate(-30deg);
    }

}

/****** UTILITY CLASSES ******/

.index-1 {
    z-index: -1;
}

.index-2 {
    z-index: -2;
}


.grid-col-span-3 {
    grid-column: span 3;
}

/****** GRID CONTAINER ******/

main {
    margin: 1.5rem;
    grid-column: 2;
    display: grid;
    gap: 1rem;
    grid-template-columns: .5fr repeat(2, 1fr) .5fr;
}

h1 {
    font-size: var(--fs-s);
    color: var(--misty-rose);
    text-transform: uppercase;
    letter-spacing: .25rem;
    
    background-color: var(--steel-teal);
    padding: .5rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    border-radius: var(--br-soft);

    grid-row: 1 / 4;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: var(--fs-s);
    color: var(--misty-rose);
    background-color: var(--steel-teal);
    text-transform: uppercase;
    text-align: center;
    writing-mode: vertical-lr;
    padding: .5rem;
    border-radius: var(--br-soft);

    grid-column: 4;
    grid-row: 3 / 6;

    display: flex;
    justify-content: center;
    align-items: center;


}

/****** LIST STYLING ******/

p {
    color: var(--charcoal);
    background-color: var(--english-violet);
    font-size: var(--fs-s);
    text-transform: uppercase;
    padding: 1rem;
    border-radius: var(--br-soft);
    border: 2px solid var(--charcoal);
}

.card-top{
    min-width: 100px;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px var(--steel-teal);
}

.card-middle {
    color: var(--misty-rose);
    min-width: 100px;
    min-height: 100px;
    background-color: var(--madder-lake);
    border: 5px solid var(--misty-rose);
    box-shadow: 7px 7px var(--misty-rose);
    
    grid-column: 2 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-bottom{
    min-width: 100px;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -7px 7px var(--steel-teal);
}

@media (min-width: 800px) {
    h1 {
        font-size: var(--fs-title);
        padding: 4rem;
    } 
    
    h2{
        font-size: var(--fs-l);
        padding: 4rem;
    }

   
   p {
    font-size: var(--fs-l);
   }
}

@media (min-width: 1200px) {
    
    h1 {
        font-size: var(--fs-title);
        transform: rotate(360deg);
    }
   
     .card-middle {
        transform: rotate(30deg);
    }

   
}





.stripes {
    background: repeating-linear-gradient(
  45deg,
  var(--steel-teal),
  var(--steel-teal) 10px,
  var(--english-violet) 10px,
  var(--english-violet) 20px
);
    box-shadow: 10px 10px var(--candy-pink);
}


/****** CIRCLES ******/


/*? HEIGHTS AND WIDTHS?*/
.circle {
    min-width: 200px;
    height: 200px;
    background-color: var(--madder-lake);
    border-radius: var(--br-round);
    position: absolute;
    top: -2rem;
    left: -2rem;
}

.circle2 {
    min-width: 200px;
    min-height: 200px;
    background-color: var(--madder-lake);
    border-radius: var(--br-round);
    position: absolute;
    bottom: -2rem;
    right: -2rem;

}

.accent1, .accent2, .accent3, .accent4, .accent5, .accent6 {
    display: none;
}



@media (min-width: 1200px) {
    .circle {
        width: 400px;
        height: 400px;
        left: -4rem;
    }

    .circle2 {
        width: 400px;
        height: 400px; 
        right: -4rem;    
    }
    

.accent1, .accent2, .accent3, .accent4, .accent5, .accent6 {
    display: block;
    position: absolute;
    background-color: var(--misty-rose);
    border-radius: var(--br-soft);
}

.accent1 {
    left: 2rem;
    top: 2rem;
    width: 400px;
    height: 25px;
}

.accent2 {
    right: 2rem;
    bottom: 2rem;
    width: 400px;
    height: 25px;
}

.accent3 {
    left: 2rem;
    top: 6rem;
    width: 300px;
    height: 25px;
}

.accent4 {
    right: 2rem;
    bottom: 6rem;
    width: 300px;
    height: 25px;
}

.accent5 {
    left: 2rem;
    top: 10rem;
    width: 200px;
    height: 25px;
}

.accent6 {
    /* background-color: gold; */
    right: 2rem;
    bottom: 10rem;
    width: 200px;
    height: 25px;
}


}