/*
Cat Age Converter
Author: Cassie Lewis
clewisdev.com
Date: July 2022
*/

/*------ GLOBAL STYLES ------*/

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;       
}

/*form {
    display: flex;
    align-items: center;
    flex-direction: column;
}*/

.wrapper {
    background-color: rgb(77, 134, 77);
    width: 50%;
    padding: 2rem;
    border: 1rem solid goldenrod;
    border-radius: 1rem;
    box-shadow: -1px 10px 20px 10px rgb(59, 59, 59);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    color: white;
}

.input-box {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    color: navy;
    text-align: center;
    width: 60%;
    padding: 1rem;
    border: 1rem solid goldenrod;
    border-radius: .5rem
 
}

.submit-info {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-transform: lowercase;
    color: navy;
    background-color: goldenrod;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 20%;
    border: .5rem solid white;
    border-radius: .5rem;
    box-shadow: -1px 10px 20px 10px rgb(59, 59, 59);
}

.info {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.placeholder {
    font-size: 2em;
    color: white;
}

.cat-image {
    display: none;
}


@media screen and (max-width: 1000px) {
    .wrapper {
        width: 80%;
    }
}