.page {
  width: 100%;
  height: 100%;
  background-color: var(--true-black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.main {
  background: linear-gradient(to right, #1b1b1b, #252525);
  width: 43.75rem;
  height: 45rem;

  display: grid;
  grid-template-columns: 26.5rem 12.5rem;
  grid-template-rows: 30rem 11.5rem;
  grid-column-gap: var(--small);
  place-content: center;
}

@media (max-width: 800px) {
  .page {
    margin-top: 0;
  }
  .main {
    height: 68.75rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28.125rem 15.625rem   18.75rem;
    grid-column-gap: 0;
  }
}

/****** COM ******/

.comcontainer {
  position: relative;

  background-color: var(--true-black);
  border: 3px inset var(--light-gray);
  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  top: 1.25rem;
  left: 1.5rem;
}

.titlelink {
  text-decoration: underline;
  text-decoration-thickness: 15%;
}

.titlelink:hover,
.titlelink:focus {
  text-decoration: none;
}

.com {
  border-radius: var(--small);
  width: 24.25rem;
  height: 24.25rem;
  margin-top: var(--small);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.comcode {
  margin-left: 1.5rem;
  font-weight: 400;
}

.comtitle {
  font-size: 2.25rem;
  margin-left: var(--medium);
}

.linklist {
  list-style-type: none;
  margin-left: var(--medium);
}

.sitemapitem {
  margin: var(--small) 0;
}

.sitelink {
  text-decoration: underline;
}

.sitelink:hover {
  text-decoration: none;
}



@media (max-width: 800px) {
  .comcontainer {
    grid-column: 1 / -1;
  }
  
}

@media (max-width: 400px) {
  .comcontainer {
    padding: 0 1rem;
  }
  .title {
    left: auto;
  }
  .com {
    max-width: 18.75rem;
    max-height: 18.75rem;
  }
  .comtitle {
    font-size: 1.5rem;
    margin-left: 0;
    text-align: center;
  }
  
}

.home {
  background-color: var(--console-red);
}

.linkedin,
.github {
  background-color: var(--console-indigo);
}

.portfolio {
  background-color: var(--console-purple);
}

.labs {
  background-color: var(--console-green);
}

.about,
.linkmap {
  background-color: var(--console-blue);
}

.resume {
  background-color: var(--console-dark-red);
}

/****** LOGO ******/

.logo {
  border: 1px solid var(--console-blue);
  width: 10rem;
  height: 2rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo1 {
  width: 50%;
  height: 100%;
  background-color: var(--console-blue);
  text-transform: uppercase;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.25rem;
}

/****** HAL ******/

.halcontainer {
  max-width: 100%;
  border: 3px inset var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--small) 0 var(--medium) 0;
}

.hal {
  width: 170px;
  height: 170px;
  border: 3px solid var(--medium-gray);
  border-top: 3px solid var(--light-gray);
  border-bottom: 3px solid var(--light-gray);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  width: 9.375rem;
  height: 9.375rem;
  background: linear-gradient(to top, #353535 10%, #000000 60%, #b9b9b9);
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.haleye {
  background-color: #1b1b1b;
  border: 1px solid var(--medium-gray);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.haleyepupil {
  width: 1.125rem;
  height: 1.125rem;
  background-color: red;
  border-radius: 50%;

  transition: box-shadow 1s ease-in;
}

.haleyepupil:hover,
.haleyepupil:focus {
  background: radial-gradient(rgb(252, 230, 230), red 50%);
  box-shadow: 0 0 50px 30px red; 
}

/****** CONTROLS ******/

.controlcontainer {
  position: relative;

  max-width: 100%;
  border: 3px inset var(--light-gray);
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  gap: .45rem;
  place-content: center;
}

.togglebtns {
  grid-column: 1 / -1;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.togglebtn {
  cursor: pointer;
  width: 40%;
  height: 2rem;
}

.controltitle {
  font-size: .75rem;
  font-weight: 900;
  text-transform: uppercase;
}

.controlbtn {
  font-family: var(--font-lexend-zetta);
  color: var(--true-black);
  cursor: pointer;
  border: 5px inset var(--console-blue);
  font-size: 1rem;
  background-color: var(--console-btns);
  font-weight: 400;
  height: 3.125rem;
  border-radius: .5rem;

  transition: box-shadow 0.75s ease-in;
}

.controlbtn:hover,
.controlbtn:focus {
  outline: none;
  border: none;
  background: radial-gradient(rgb(252, 230, 230), #ace9fc 50%);
  box-shadow: 0 0 5px 2px #fff;
}

.controlbtn:active {
  scale: .90;
}

.controlbtn:nth-child(5),
.controlbtn:nth-child(9) {
  background-color: var(--true-white);
}

.controlbtn:nth-child(5):hover,
.controlbtn:nth-child(5):focus,
.controlbtn:nth-child(9):hover,
.controlbtn:nth-child(9):focus {
  background: var(--console-yellow);
  border: none;
}

.navigate {
  transition: box-shadow 0.75s ease-in;
  
  cursor: pointer;
  color: var(--console-red);
  border: none;
  border-radius: .5rem;
  background-color: none;
  background-color: var(--console-yellow);
  box-shadow: 0 0 5px 2px #fff;
}

.navigate:hover,
.navigate:focus,
.navigate:active {
  background: var(--console-yellow);
  border: none;
}

@media (max-width: 800px) {
  .controlcontainer {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

@media (max-width: 350px) {
  .controlcontainer {
    grid-template-columns: repeat(3, 5rem);
  }
}

/****** SPEAKER ******/

.speaker {
  border: 3px inset var(--light-gray);
  background-color: var(--true-black);
  opacity: 0.8;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #a2a2a2, #a2a2a2 50%, #000000 50%);
  background-size: 10px 10px;
}


.disabled {
  height: 3.125rem;
  border-radius: .5rem;
}