/*
Survey Form CSS
Author: Cassie Lewis
clewis.dev
Date: September 2021
*/

/* CSS HEX 
https://coolors.co/522414-9c311c-f0aa7f-fed286-c6d2e6
--seal-brown: #522414ff;
--chinese-red: #9c311cff;
--tumbleweed: #f0aa7fff;
--deep-champagne: #fed286ff;
--light-periwinkle: #c6d2e6ff;
*/

/*------ GLOBAL STYLES ------*/

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-image: linear-gradient(rgba(134, 61, 2, 0.75), rgba(134, 61, 2, 0.75)),
    url(/images/oaktree.jpg);
    background-color: rgba(254, 202, 114, 0.25);
    margin: 0;
    padding: 0;

}

h1 {
    background: rgb(134, 61, 2);
    color: #e9cfa9;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.description {
    background: rgb(134, 61, 2);
    color: #ffebcd;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

p {
    color: #e9cfa9;
    font-size: 1.25rem;
    text-align: left;
    margin: 35px 0 25px 0;
    padding-left: 2rem;
    font-weight: bold;    
}

hr {
    margin: 2.5rem;
}

/*------ FORM STYLE ------*/

form {
    background: #3d291c;
    border-radius: .5rem;
    padding: 1.5rem 2rem 2rem 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

/*------ INPUT AND LABEL STYLES ------*/

label {
    color: #e9cfa9;
    font-size: 1.25rem;
    display: flex;
    padding-left: 2rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.input-label {
    font-weight: bold;
}

.input-box {
    font-family: 'Raleway', sans-serif;
    accent-color: #9C311C;
    margin-bottom: .5rem;
    padding: 1rem;
    width: 90%;
    border-radius: .5rem;
    border: solid #8c2b1aff 2px;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    color: #9c311cff;
}

/*------ DATALIST STYLE ------*/


/*------ CHECKBOX STYLE ------*/

input[type="checkbox"] {
    accent-color: #9C311C;
    margin-right: .5rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

fieldset {
    border: 0 none;
    padding-left: 0;
    margin-bottom: 0;
}

legend {
    color: #e9cfa9;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 2rem;
    font-weight: bold;    
}

/*------ TEXTAREA STYLE ------*/

textarea {
    background: linear-gradient(rgba(134, 61, 2, 0.75), rgba(134, 61, 2, 0.75));
    color: #e9cfa9;
    max-width: 100%;
    height: auto;    
    border: solid #9C311C 2px;
    border-radius: .5rem;
    margin: auto;
}

.label-textarea {
    color: #e9cfa9;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 25px;
}

/*------BUTTON STYLE ------*/

button {
    background-color: #9C311C;
    color: #FECA72;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-weight: bold;
    margin: 2.5rem auto 2rem auto;
    padding: 1rem 4rem;
    border-radius: .5rem;
    border: 0;
}